* {
    position: relative;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: normal;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#canvas {
    border: 4px solid #1d771d;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: normal;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: arial, serif;
    color: black;
    text-align: center;
}

#menu > span:first-child {
    font-size: 1.8rem;
    font-weight: bold;
}

#menu > span:last-child {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    opacity: 0.5;
}
